.f14{
  font-size: 14px;
}
.f20{
  font-size: 20px;
}
.purple-text {
  color: #9439ff;
}
.gray-text{
  color: #A4A4A4;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  }
.flex-sp{
  justify-content: space-between;
}
.page {
  background: #000;
  color: #fff;
}
.notic {
  width: 84%;
  height: 50px;
  line-height: 50px;
  margin: 0 auto 46px;
  font-size: 24px;
  justify-content: center;
  background: url("../assets/bg.png") center center no-repeat;
  background-size: cover;
  font-family: Barlow Condensed;
}
.notice-img {
  width: 23px;
  height: 27px;
  margin-right: 42px;
}
/* 彩色表格 */
.farm-table {
  width: 100%;
  color: #fff;
}

.farm-table-item,
.farm-table-thead {
  text-align: center;
  font-size: 24px;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 20px 0;
  background: url("../assets/bg.png") center center no-repeat;
  background-size: cover;
}

.farm-table-item {
  background: #1a1125;
  border: 1px transparent solid;
  border-radius: 28px;
  position: relative;
}

.farm-table-item:after {
  content: "";
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  background: linear-gradient(157deg, #a4e1c2, #9439ff);
  border-radius: 28px;
  content: "";
  z-index: -1;
}
.farm-table-item-img {
  width: 49px;
  height: 30px;
  margin-right: 18px;
  margin-left: 12px;
}
.farm-table .last {
  width: 15%;
}

.farm-table .last-btn {
  width: 100px;
  height: 40px;
  background: rgba(148, 57, 255, 0.1);
  border: 1px solid #9439ff;
  border-radius: 16px;
  text-align: center;
  line-height: 40px;
  float: right;
  margin-right: 8px;
  font-size: 20px;
}

/* 问号 */
.tip-img {
  width: 18px;
  height: 18px;
  margin-left: 8px;
  position: relative;
  top: -2px;
}
/* 按钮 */
.tip-img:hover,
.last-btn:hover,
.table-btn:hover,
.farm-right .farm-right-bottom p:hover,
.list-item-btn:hover{
 cursor: pointer;
}
  /* end */
/* 弹窗 */
.toast-mask{
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.5);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
}
.toast-bg{
  background-color: #000;
  width: 490px;
  padding: 0 20px;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right:0;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 20px;

}
.toast-close-img{
  width: 28px;
  height: 28px;
}
.toast-close-img:hover{
 cursor: pointer;
}
.deposit-toast-btn {
  width: 450px;
  height: 40px;
  position: absolute;
  bottom: 20px;
  left: 20;
  text-align: center;
  line-height: 40px;
  border: 1px solid #9439ff;
  border-radius: 16px;
  font-size: 24px;
}
.deposit-toast-btn:hover {
  cursor: pointer;
}
.toast-range-box{
  width: 100%;
  height: 40px;
  position: relative;
}
.toast-range-ipt{
  position: absolute;
  left: 0;
  top: 0;
}
 /*拖动块的样式*/  
input[type=range]{ 
  outline: none; 
  -webkit-appearance: none;/*清除系统默认样式*/  
  width:100% !important;  
  background: #fff;  /*背景颜色，俩个颜色分别对应上下，自己尝试下就知道了嗯*/
  height: 4px;/*横条的高度，细的真的比较好看嗯*/  
} 
 input[type=range]::-webkit-slider-thumb {  
  -webkit-appearance: none;/*清除系统默认样式*/  
  height:20px;/*拖动块高度*/  
  width: 20px;/*拖动块宽度*/  
  background: #592CBD;/*拖动块背景*/ 
  border-radius: 50%; /*外观设置为圆形*/  
}
/*  */
.toast-range-box span{
  position: absolute;
  top: 16px;
}

